<header
  style="
    background: linear-gradient(rgb(100, 235, 100), rgb(43, 157, 59));
    width: 100%;
    padding:10px;
    margin-bottom:10px;
  "
>
  <nav>
    <ul style="list-style: none; display: flex; flex-direction: row; gap: 10%;font-weight:800; text-decoration:none; justify-content:space-evenly;">
      <li><a href="/">Home</a></li>
      <li><a href="/add">Add task</a></li>
    </ul>
  </nav>
</header>
